<template>
    <div class="slds-col slds-small-size_6-of-12 slds-medium-size_6-of-12 slds-large-size_5-of-12 strong">
                                Customer Photo
                            </div>
                            <div class="rel slds-col slds-small-size_7-of-12 slds-medium-size_7-of-12 slds-large-size_7-of-12"> 
                                <template if:true={isLoading} style="height: 150px;">
                                    <div class="spinner">
                                        <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
                                    </div>
                                </template>
                               <img src={imageURL}/>
                            </div>
                    </div>
    </template>